Body{
  font-family: 'Comfortaa', cursive;
  background-color: grey;
}
/* BODY */
.container {
  display: flex;
  flex-direction: row;
}
/* SEARCH */
.search-area {
  background-color: #eee;
  min-width: 55%;
  /* text-align: center; */
}

.box {
  background-color: #02bd7c;
  width: 90%;
  margin: 10px;
  border-radius: 15px;
}

.box__search-bar {
  text-align: center;
  padding-top: 25px;
  height: 90px;
  border-radius: 15px;
}

.box--search-bar {
  height: 60px;
  width: 80%;
  border-radius: 15px;
}
/*RESULTS*/
.box--img__search {
  height: 300px;
  border-radius: 15px;
}
.box__search-content{
  text-align: center;
  display: flex;
  flex-direction: row;
}

.box--search-text {
  display: flex;
  flex-direction: column;
}

.box--content__name, .box--content__calories {
  margin: 10%;
}

p {
  font-size: 23px;
}
/* EXERCISE */
.exercise-area {
  background-color: #eee;
  min-width: 45%;
  /*text-align: center; */
}
.box--img__exercise{
  height: 200px;
  width: 200px;
  border-radius: 15px;

}
.box__exercise {
  display: flex;
  flex-direction: row;
  height: 200px;
  margin-left: 35px;
  border-radius: 15px;
}
.box--content__exercise-wrapper{
  margin-left: 50px;
  font-size: 140%;
}



/* PRESEARCH */



/* NAV */
nav {
  width: 100%;
  background-color: #555;
  padding: 10px 0;
  display: inline-block;
  float: none;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #4ff;
}

nav a:hover {
  color: #7f4dd2;
}

/* FOOTER */
.footer {
  background-color: #555;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
}

.footer-text {
  color: #fff;
  font-size: 15px;
  padding-top: 20px;
}


/* BUTTONS */
.btn-primary {
  color: #fff;
  background-color: #11f;
  border-radius: 2px;
  border: none;
  padding: 3px;
}

.btn-primary:hover {
  background-color: #77f;
}

/* ALERTS */
.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.success {
  background-color: #ceffce;
  color: green;
  border: 1px solid green;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.no-flash {
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.x-button {
  background-color: red;
  color: white;
  border-radius: 2px;
  float: right;
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}
/*login*/
.login-form{
  text-align: center;
  background-color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;

}
input{
  min-width: 40%;
  height: 40%;
  border-radius: 15px;
}
.btn-primary{
  min-width: 20%;
  height: 20%;
  border-radius: 15px;
}
